
main {
  background-color: rgba(255, 255, 255, .7);
  border: 2px solid rgb(120, 120, 120);
  border-radius: 20px;
  display: grid;
  margin: 2rem auto;
  max-width: 800px;
  padding: 0 3rem 3rem;
  place-items: center;
  position: relative;
  width: 100%;
}

.transform-wrapper {
  border: 1px solid rgb(56, 57, 57);
}

.viewer-header {
  align-items: center;
  display: flex;
  height: 8rem;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 100%;
}

.viewer-header h1 {
  font-size: 3rem;
}

.controls-wrapper {
  align-items: center;
  display: flex;
}

[class*=fa-arrows-to-dot] {
  cursor: pointer;
  font-size: 3.5rem;
  margin-right: 5rem;
}

.arrow-buttons {
  align-items: center;
  display: flex;
}

.page-tracker {
  font-size: 2rem;
  margin: 0 1.5rem;
}

.drop-zone {
  border: 4px dashed gray;
  cursor: pointer;
  display: grid;
  height: 100%;
  place-items: center;
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
}

.drop-zone__content-wrapper {
  display: grid;
  margin: 2rem 0 3rem;
  place-items: center;
}

.drop-zone__text {
  font-size: 3.5rem;
  text-align: center;
}

.fa-upload {
  font-size: 4rem;
  margin-top: 1rem;
}

#file-input {
  display: none;
}

.canvas-wrapper {
  height: 100%;
  overflow: auto;
}

.canvas {
  height: 100%;
  overflow: auto;
  width: 100%;
}

.fa-circle-xmark {
  font-size: 3rem;
  opacity: .2;
  position: absolute;
  right: 1.1rem;
  top: 7.1rem;
  z-index: 2;
}

.fa-circle-xmark:hover {
  color: salmon;
  cursor: pointer;
  opacity: 1;
} 
